/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

.bradseg-btn {
  padding: 15px 18px;
  border-radius: 6px;
  border: 0px;
  -webkit-box-shadow: 0px 0px 0px;
          box-shadow: 0px 0px 0px;
  cursor: pointer;
  font-family: "Montserrat";
  font-weight: 600;
  margin: 10px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.bradseg-btn[class*=-primary] {
  color: #fff;
}

.bradseg-btn[class*=-secondary] {
  background-color: #fff;
  font-weight: bold;
}

.bradseg-btn[class*=-secondary]:hover {
  color: #fff;
}

.bradseg-btn[class*=-secondary]:disabled {
  background-color: #fff !important;
}

.bradseg-btn[class*=-transparent] {
  background-color: transparent;
  font-weight: bold;
  color: #fff;
  -webkit-box-shadow: inset 0px 0px 0px 1px #fff;
          box-shadow: inset 0px 0px 0px 1px #fff;
}

.bradseg-btn[class*=-transparent]:hover {
  background-color: #fff;
}

.bradseg-btn[class*=-transparent]:disabled {
  color: #a5aab6 !important;
  background-color: #d2d4da !important;
}

.bradseg-btn[class*=-primary]:disabled, .bradseg-btn[class*=-secondary]:disabled, .bradseg-btn[class*=-transparent]:disabled {
  color: #a5aab6 !important;
  background-color: #e8e9ec !important;
  -webkit-box-shadow: inset 0px 0px 0px 1px #d2d4da !important;
          box-shadow: inset 0px 0px 0px 1px #d2d4da !important;
}

.bradseg-btn[class*=-primary]:disabled, .bradseg-btn[class*=-secondary]:disabled, .bradseg-btn[class*=-transparent]:disabled {
  cursor: not-allowed !important;
}

.bradseg-btn.red-primary {
  background-color: #e60935;
}

.bradseg-btn.red-primary:hover {
  background-color: #99000f;
}

.bradseg-btn.red-secondary {
  color: #e60935;
  -webkit-box-shadow: inset 0px 0px 0px 1px #e60935;
          box-shadow: inset 0px 0px 0px 1px #e60935;
}

.bradseg-btn.red-secondary:hover {
  background-color: #cc092f;
}

.bradseg-btn.red-transparent:hover {
  color: #cc092f;
}

.bradseg-btn.blue-primary {
  background-color: #0b67bd;
}

.bradseg-btn.blue-primary:hover {
  background-color: #2365a7;
}

.bradseg-btn.blue-secondary {
  color: #0b67bd;
  -webkit-box-shadow: inset 0px 0px 0px 1px #0b67bd;
          box-shadow: inset 0px 0px 0px 1px #0b67bd;
}

.bradseg-btn.blue-secondary:hover {
  background-color: #0e81ed;
}

.bradseg-btn.blue-transparent:hover {
  color: #0b67bd;
}

.bradseg-btn-link {
  padding: 15px 8px;
  background-color: transparent;
  font-family: "Montserrat";
  font-weight: bold;
  text-decoration: none;
  cursor: pointer;
  font-size: 14px;
  margin: 10px;
  display: inline-block;
}

.bradseg-btn-link:after {
  content: "\203A";
  font-size: 1.5em;
  padding-left: 8px;
  padding-top: 6px;
}

.bradseg-btn-link.red {
  color: #e60935;
}

.bradseg-btn-link.red:hover {
  color: #99000f;
}

.bradseg-btn-link.blue {
  color: #0e81ed;
}

.bradseg-btn-link.blue:hover {
  color: #0b67bd;
}

.bradseg-btn-link.disabled {
  color: #d2d4da;
  cursor: not-allowed;
}

.bradseg-alert {
  width: 100%;
  height: 40px;
  padding: 12px 50px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-radius: 3px;
  color: #fff;
  font-family: 'Opensans';
  margin: 5px 0px;
  display: block;
  position: relative;
  text-align: left;
}

.bradseg-alert:before {
  font-family: 'bradesco_v2' !important;
  font-size: 20px;
  position: absolute;
  left: 20px;
  top: 9px;
}

.bradseg-alert .icon-nav-fechar {
  font-size: 18px;
  position: absolute;
  right: 20px;
  top: 10px;
  cursor: pointer;
}

.bradseg-alert .icon-nav-fechar:hover {
  text-shadow: 1px 1px #333;
  font-weight: bold;
}

.bradseg-alert p {
  display: inline-block;
  font-size: 13px;
  color: #fff;
}

.bradseg-alert.warning {
  background-color: #ffbc00;
}

.bradseg-alert.warning:before {
  content: "\E9E7";
}

.bradseg-alert.success {
  background-color: #11c25c;
}

.bradseg-alert.success:before {
  content: "\E9EA";
}

.bradseg-alert.error {
  background-color: #cc092f;
}

.bradseg-alert.error:before {
  content: "\E9F0";
}

.bradseg-alert.other {
  width: 100%;
  height: 100px;
  padding: 10px 21px;
  padding-bottom: 25px;
  background-color: #4d4e53;
  overflow: hidden;
}

.bradseg-alert.other .icon-nav-fechar {
  font-family: "Montserrat" !important;
  font-weight: 500;
  font-size: 13px;
  height: 100%;
}

.bradseg-alert.other .icon-nav-fechar:before {
  position: absolute;
  bottom: 20px;
  left: -70px;
  content: 'DISPENSAR' !important;
}

.bradseg-alert.other .icon-nav-fechar:hover {
  font-weight: 600;
}

.bradseg-alert.other .icon-nav-fechar:hover:before {
  text-decoration: underline;
}

.bradseg-alert.other.thin {
  height: 40px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 10px 21px;
  padding-right: 100px;
}

.bradseg-alert.other.thin:before {
  bottom: 25px;
}

.bs-loader {
  display: inline-block;
  height: 30px;
  position: relative;
  width: 30px;
}

.bs-loader::before {
  -webkit-animation: bs-loading 1s cubic-bezier(0, 0.2, 0.8, 1) infinite;
  animation: bs-loading 1s cubic-bezier(0, 0.2, 0.8, 1) infinite;
  border: 2px solid #cc092f;
  border-radius: 50%;
  content: "";
  display: block;
  opacity: 1;
  position: absolute;
}

.bs-loader::after {
  -webkit-animation: bs-loading 1s cubic-bezier(0, 0.2, 0.8, 1) infinite;
  animation: bs-loading 1s cubic-bezier(0, 0.2, 0.8, 1) infinite;
  border: 2px solid #cc092f;
  border-radius: 50%;
  content: "";
  display: block;
  opacity: 1;
  position: absolute;
  -webkit-animation-delay: -0.5s;
  animation-delay: -0.5s;
}

.bs-loader.md {
  height: 45px;
  width: 45px;
}

.bs-loader.lg {
  height: 90px;
  width: 90px;
}

@-webkit-keyframes bs-loading {
  0%,
  100% {
    bottom: 0;
    height: 1px;
    left: 0;
    margin: auto;
    opacity: 1;
    right: 0;
    top: 0;
    width: 1px;
  }
  100% {
    height: 100%;
    opacity: 0;
    width: 100%;
  }
}

@keyframes bs-loading {
  0%,
  100% {
    bottom: 0;
    height: 1px;
    left: 0;
    margin: auto;
    opacity: 1;
    right: 0;
    top: 0;
    width: 1px;
  }
  100% {
    height: 100%;
    opacity: 0;
    width: 100%;
  }
}

.pn-card-loading {
  display: inline-block;
  position: relative;
  width: 30px;
  height: 30px;
}

.pn-card-loading.md {
  width: 45px;
  height: 45px;
}

.pn-card-loading.md div {
  width: 45px;
  height: 45px;
}

.pn-card-loading.lg {
  width: 90px;
  height: 90px;
}

.pn-card-loading.lg div {
  width: 90px;
  height: 90px;
}

.pn-card-loading div {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  display: block;
  position: absolute;
  width: 30px;
  height: 30px;
  margin: 6px;
  border: 6px solid #e1173f;
  border-radius: 50%;
  -webkit-animation: lds-ring 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
          animation: lds-ring 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
  border-color: #e1173f transparent transparent transparent;
}

.pn-card-loading div:nth-child(1) {
  -webkit-animation-delay: -0.45s;
          animation-delay: -0.45s;
}

.pn-card-loading div:nth-child(2) {
  -webkit-animation-delay: -0.3s;
          animation-delay: -0.3s;
}

.pn-card-loading div:nth-child(3) {
  -webkit-animation-delay: -0.15s;
          animation-delay: -0.15s;
}

@-webkit-keyframes lds-ring {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

@keyframes lds-ring {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

.form-group {
  position: relative;
  text-align: left;
  margin-bottom: 20px;
  min-height: 40px;
}

.form-group label {
  display: block;
  margin-bottom: 6px;
  font-weight: bold;
  font-family: "Montserrat";
  color: #4d4e53;
  position: absolute;
}

.form-group input {
  height: 40px;
  width: 100%;
  border: 1px solid #d2d4da;
  border-radius: 4px;
  padding-left: 35px;
  padding-right: 35px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: "Opensans";
  color: #4d4e53;
  margin-top: 22px;
  outline: none;
}

.form-group input:focus {
  border-color: #a5aab6;
}

.form-group input:disabled {
  background-color: #d2d4da;
  cursor: not-allowed;
}

.form-group input[type=radio], .form-group input[type=checkbox] {
  display: none;
}

.form-group input[type=radio] + label, .form-group input[type=checkbox] + label {
  padding-left: 20px;
  cursor: pointer;
  font-weight: 500;
  font-size: 13px;
}

.form-group input[type=radio] + label:before {
  content: "";
  display: block;
  width: 16px;
  height: 16px;
  border: solid 1px #757575;
  color: #757575;
  border-radius: 14px;
  cursor: pointer;
  position: absolute;
  top: 0;
  left: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.form-group input[type=radio]:checked + label:before {
  border: 1px solid #757575;
  -webkit-box-shadow: 0 0 0 3px #fff inset;
          box-shadow: 0 0 0 3px #fff inset;
  background-color: #333;
}

.form-group input[type=radio]:disabled + label, .form-group input[type=radio]:disabled + label:before {
  opacity: 0.5;
  cursor: not-allowed;
}

.form-group input[type=checkbox] + label:before {
  content: "";
  display: block;
  width: 16px;
  height: 16px;
  border: solid 1px #757575;
  color: #757575;
  border-radius: 4px;
  cursor: pointer;
  position: absolute;
  top: 0;
  left: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-weight: bold;
  padding: 1px;
}

.form-group input[type=checkbox]:checked + label:before {
  content: '\2713';
}

.form-group input[type=checkbox]:disabled + label,
.form-group input[type=checkbox]:disabled + label:before {
  opacity: 0.5;
  cursor: not-allowed;
}

.form-group i {
  cursor: pointer;
  position: absolute;
  left: 10px;
  top: 32px;
  font-size: 20px;
  color: #a5aab6;
}

.form-group i:hover {
  color: #4d4e53;
}

.form-group i.icon-nav-fechar {
  top: 34px;
  right: 10px !important;
  left: inherit;
  font-size: 15px;
}

.form-group i.icon-nav-fechar:hover {
  font-weight: bold;
}

.form-group .msg-error {
  display: none;
}

.form-group.error input {
  border-color: #e60935;
}

.form-group.error .msg-error {
  margin-top: 5px;
  display: block;
  font-size: 12px;
  color: #e60935;
}

h1, h2, h3, h4, h5, h6, p, small {
  line-height: calc( 100% + 6px);
  color: #4d4e53;
}

h1, h2, h3, h4, h5, h6 {
  font-family: "Montserrat";
}

h1 {
  font-size: 34px;
}

h2 {
  font-size: 18px;
}

h3 {
  font-size: 16px;
}

p, small {
  font-family: "Opensans";
}
