@import 'variaveis';

/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}



// BUTTONS
.bradseg-btn{
	padding: 15px 18px;
	border-radius: 6px; 
	border: 0px;
	box-shadow: 0px 0px 0px;
	cursor: pointer;
	font-family: "Montserrat";
	font-weight: 600;
	margin: 10px;
	box-sizing: border-box;
	&[class*=-primary]{
		color: #fff;
	}
	&[class*=-secondary]{
		background-color: #fff;
		font-weight: bold;

		&:hover{
			color: #fff;
		}
		&:disabled{
			background-color: #fff !important;
		}
	}
	&[class*=-transparent]{
		background-color: transparent;
		font-weight: bold;
		color: #fff;
		box-shadow:inset 0px 0px 0px 1px #fff;
		&:hover{
			background-color: #fff;
		}
		&:disabled{
			color: $cinza4 !important;
			background-color: $cinza3 !important;
		}
	}
	&[class*=-primary], &[class*=-secondary], &[class*=-transparent]{
		&:disabled{
			color: $cinza4 !important;
			background-color: $cinza2 !important;
			box-shadow:inset 0px 0px 0px 1px $cinza3 !important;
		}
	}
	&[class*=-primary], &[class*=-secondary], &[class*=-transparent]{
		&:disabled{
			cursor: not-allowed !important;
		}
	}

	&.red-primary{
		background-color: $vermelho;
		&:hover{
			background-color: $vermelho3;
		}
	}
	&.red-secondary{
		color: $vermelho;
		box-shadow:inset 0px 0px 0px 1px $vermelho;
		&:hover{
			background-color: $vermelho2;
		}
	}
	&.red-transparent{
		&:hover{
			color: $vermelho2;
		}
	}
	&.blue-primary{
		background-color: $azul2;
		&:hover{
			background-color: $azul3;
		}
	}
	&.blue-secondary{
		color: $azul2;
		box-shadow:inset 0px 0px 0px 1px $azul2;
		&:hover{
			background-color: $azul;
		}
	}
	&.blue-transparent{
		&:hover{
			color: $azul2;
		}
	}
}
.bradseg-btn-link{
	padding: 15px 8px;
	background-color: transparent;
	font-family: "Montserrat";
	font-weight: bold;
	text-decoration: none;
	cursor: pointer;
	font-size: 14px;
	margin: 10px;
	display: inline-block; 

	&:after{
		content: "\203A";
		font-size: 1.5em;
		padding-left: 8px;
		padding-top: 6px;
	}

	&.red{
		color: $vermelho;
		&:hover{
			color: $vermelho3;
		}
	}
	&.blue{
		color: $azul;
		&:hover{
			color: $azul2
		}
	}
	&.disabled{
		color: $cinza3;
		cursor: not-allowed;
	}
}



// SNACKBARS 
.bradseg-alert{
	width: 100%;
	height: 40px;
	padding: 12px 50px;
	box-sizing: border-box;
	border-radius: 3px;
	color: #fff;
	font-family: 'Opensans';
	margin: 5px 0px;
	display: block;
	position: relative;
	text-align: left;
	
	&:before{
		font-family: 'bradesco_v2' !important;
		font-size: 20px;
		position: absolute;
		left: 20px;
		top: 9px;
		// text-shadow: 1px 1px #333;
	}
	.icon-nav-fechar{
		font-size: 18px;
		position: absolute;
		right: 20px;
		top: 10px;
		cursor: pointer;
		&:hover{
			text-shadow: 1px 1px #333;
			font-weight: bold;
		}
	}
	p{
		display: inline-block;
		font-size: 13px;
		color: #fff;
		// text-shadow: 1px 1px #333;
	}

	&.warning{
		background-color: $amarelo;
		&:before{
			content: "\E9E7";
		}
	}
	&.success{
		background-color: $verde;
		&:before{
			content: "\E9EA";
		}
	}
	&.error{
		background-color: $vermelho2;
		&:before{
			content: "\E9F0";
		}
	}
	&.other{
		width: 100%;
		height: 100px;
		padding: 10px 21px;
		padding-bottom: 25px;
		background-color: $cinza5;
		overflow: hidden;

		.icon-nav-fechar{
			font-family: "Montserrat" !important;
			font-weight: 500;
			font-size: 13px;
			height: 100%;
			&:before{
				position: absolute;
				bottom: 20px;
				left: -70px;

				content: 'DISPENSAR' !important;
			}
			&:hover{
				font-weight: 600;
				&:before{
					text-decoration: underline;
				}
			}
		}

		&.thin{
			height: 40px;
			box-sizing: border-box;
			padding: 10px 21px;
			padding-right: 100px;
			
			&:before{
				bottom: 25px;
			}
		}
	}
}






// LOADERS
.bs-loader {
	display: inline-block;
	height: 30px;
	position: relative;
	width: 30px;
	&::before {
		-webkit-animation: bs-loading 1s cubic-bezier(0, 0.2, 0.8, 1) infinite;
		animation: bs-loading 1s cubic-bezier(0, 0.2, 0.8, 1) infinite;
		border: 2px solid #cc092f;
		-webkit-border-radius: 50%;
		border-radius: 50%;
		content: "";
		display: block;
		opacity: 1;
		position: absolute;
	}
	&::after {
		-webkit-animation: bs-loading 1s cubic-bezier(0, 0.2, 0.8, 1) infinite;
		animation: bs-loading 1s cubic-bezier(0, 0.2, 0.8, 1) infinite;
		border: 2px solid #cc092f;
		-webkit-border-radius: 50%;
		border-radius: 50%;
		content: "";
		display: block;
		opacity: 1;
		position: absolute;
		-webkit-animation-delay: -0.5s;
		animation-delay: -0.5s;
	}
	&.md {
		height: 45px;
		width: 45px;
	}
	&.lg {
		height: 90px;
		width: 90px;
	}
}

@-webkit-keyframes bs-loading {
  0%,
  100% {
	bottom: 0;
	height: 1px;
	left: 0;
	margin: auto;
	opacity: 1;
	right: 0;
	top: 0;
	width: 1px;
  }

  100% {
	height: 100%;
	opacity: 0;
	width: 100%;
  }
}
@keyframes bs-loading {
  0%,
  100% {
	bottom: 0;
	height: 1px;
	left: 0;
	margin: auto;
	opacity: 1;
	right: 0;
	top: 0;
	width: 1px;
  }

  100% {
	height: 100%;
	opacity: 0;
	width: 100%;
  }
}




.pn-card-loading {
	display: inline-block;
	position: relative;
	width: 30px;
	height: 30px;
	&.md{
		width: 45px;
		height: 45px;
		div{
			width: 45px;
			height: 45px;
		}
	}
	&.lg {
		width: 90px;
		height: 90px;
		div {
			width: 90px;
			height: 90px;
		}
	}

	div {
		box-sizing: border-box;
		display: block;
		position: absolute;
		width: 30px;
		height: 30px;
		margin: 6px;
		border: 6px solid #e1173f;
		border-radius: 50%;
		animation: lds-ring 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
		border-color: #e1173f transparent transparent transparent;

		&:nth-child(1) {
			animation-delay: -0.45s;
		}

		&:nth-child(2) {
			animation-delay: -0.3s;
		}

		&:nth-child(3) {
			animation-delay: -0.15s;
		}
	}
}
@keyframes lds-ring {
	0% {
		transform: rotate(0deg);
	}

	100% {
		transform: rotate(360deg);
	}
}



// INPUTS

.form-group{
	position: relative;
	text-align: left;
	margin-bottom: 20px;
	min-height: 40px;
	label {
		display: block;
		margin-bottom: 6px;
		font-weight: bold;
		font-family: "Montserrat";
		color: $cinza5;
		position: absolute;
		
	}
	input{
		height: 40px;
		width: 100%;
		border: 1px solid $cinza3;
		border-radius: 4px;
		padding-left: 35px;
		padding-right: 35px;
		box-sizing: border-box;
		font-family: "Opensans";
		color: $cinza5;
		margin-top: 22px;
		outline: none;
		&:focus{
			border-color: $cinza4;
		}
		&:disabled{
			background-color: $cinza3;
			cursor: not-allowed;
		}
		&[type=radio], &[type=checkbox]{
			display: none;
			&+label {
				padding-left: 20px;
				cursor: pointer;
				font-weight: 500;
				font-size: 13px;
			}
		}
		&[type=radio]{
			&+label:before {
				content: "";
				display: block;
				width: 16px;
				height: 16px;
				border: solid 1px #757575;
				color: #757575;
				border-radius: 14px;
				cursor: pointer;
				position: absolute;
				top: 0;
				left: 0;
				box-sizing: border-box;
			}
			&:checked+label:before{
				border: 1px solid #757575;
				box-shadow: 0 0 0 3px #fff inset;
				background-color: #333;
			}

			&:disabled{
				&+label, &+label:before {
					opacity: 0.5;
					cursor: not-allowed;
				}
			}
			&.error{
				// CUSTOMIZAR ERRORS
			}
		}
		&[type=checkbox] {
			&+label:before {
				content: "";
				display: block;
				width: 16px;
				height: 16px;
				border: solid 1px #757575;
				color: #757575;
				border-radius: 4px;
				cursor: pointer;
				position: absolute;
				top: 0;
				left: 0;
				box-sizing: border-box;
				font-weight: bold;
				padding: 1px;
			}

			&:checked+label:before {
				content: '\2713';
			}
			&:disabled {

				&+label,
				&+label:before {
					opacity: 0.5;
					cursor: not-allowed;
				}
			}
		}
	}
	i{
		cursor: pointer;
		position: absolute;
		left: 10px;
		top: 32px;
		font-size: 20px;
		color: $cinza4;
		
		&:hover{
			color: $cinza5;
		}
		&.icon-nav-fechar{
			top: 34px;
			right: 10px !important;
			left: inherit;
			font-size: 15px;
			&:hover{
				font-weight: bold;
			}
		}
	}
	.msg-error{
		display: none;
	}
	&.error{
		input{
			border-color: $vermelho;
		}
		.msg-error{
			margin-top: 5px;
			display: block;
			font-size: 12px;
			color: $vermelho;
		}
	}

}


// TIPOGRAFIA

h1,h2,h3,h4,h5,h6,p,small{
	line-height: calc( 100% + 6px);
	color: #4d4e53;
}
h1,h2,h3,h4,h5,h6{
	font-family: "Montserrat";
}
h1{ font-size: 34px; }
h2{	font-size: 18px; }
h3{	font-size: 16px; }

p,small{
	font-family: "Opensans";
}