h1, h2, h3, h4, h5, h6 {
  font-family: "Montserrat";
  font-weight: bold;
  margin: 10px 0px;
}

h1.sectionTitle {
  font-size: 25px;
  border-bottom: 1px solid #ccc;
  padding-bottom: 3px;
}

body {
  font-family: "Opensans", Arial;
}

header {
  height: 80px;
  background-color: #cc092f;
}

header img {
  width: 200px;
  height: 100%;
  display: none;
}

header .form-group {
  width: 35%;
  float: right;
  right: 10px;
}

.clickToCopy {
  cursor: pointer !important;
}

.clickToCopy:disabled {
  cursor: inherit;
}

.container {
  width: 80%;
  height: 100%;
  margin: 0 auto;
}

.container section {
  margin: 40px 1%;
  width: 48%;
  float: left;
}

.container section div.group {
  width: 100%;
  margin: 0 auto;
  text-align: center;
}
