
$vermelho: #e60935;
$vermelho2: #cc092f;
$vermelho3: #99000f;

$azul: #0e81ed;
$azul2: #0b67bd;
$azul3: #2365a7;

$cinza: #f4f4f6;
$cinza2: #e8e9ec;
$cinza3: #d2d4da;
$cinza4: #a5aab6;
$cinza5: #4d4e53;

$verde: #11c25c;
$amarelo: #ffbc00;

$alertaVermelho1: $vermelho2;
$alertaVermelho2: $vermelho3;
$alertaAzul: $azul;
$alertaVerde: $verde;
$alertaAmarelo: $amarelo;